{% extends 'layout/layout-wiki.html.twig' %}

{% block title %}Characters{% endblock title %}

{% block presentation %}

    {% if heroDetails is defined %}

        <!-- Character section 1 -->
        <section class="characters-section character-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="character-info">
                            <h2>{{ heroDetails.name }}</h2>
                            <h5>{{ heroDetails.role }}</h5>
                            <p class="pt-1 mb-1">{{ heroDetails.description }}</p>
                            <div class="small-blog-list">

                                {% for skill in heroDetails.skills %}

                                    <div class="sb-item">
                                        <img src="{{ asset('uploads/'~skill.image) }}" alt="">
                                        <div class="sb-text">
                                            <h6>{{ skill.name }}</h6>
                                            <p>{{ skill.description }}</p>
                                        </div>
                                    </div>

                                {% endfor %}

                            </div>
                            <div class="clearfix"></div>
                            <a href="{{ url('newsTag', {name: heroDetails.name}) }}" class="site-btn">See Related News</a>
                        </div>
                    </div>
                    <div class="col-lg-5 text-center">
                        <img src="{{ asset('uploads/'~heroDetails.image) }}" alt="{{ heroDetails.name }}">
                    </div>
                </div>
            </div>
        </section>
        <!-- Character section 1 end -->

    {% endif %}

{% endblock %}

{% block list %}

    <!-- List section -->
    <section class="characters-boxes-section spad">
        <div class="container">
            <div class="game-title">
                <h2>The Characters</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 sidebar">
                    <div class="sb-widget">
                        <h2 class="sb-title">Categories</h2>
                        <ul class="sb-cata-list">

                            {% for menuElement in menu.children %}

                                <li>
                                    <a href="{{ menuElement.link }}">{{ menuElement.title }}</a>
                                </li>

                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        {% for hero in heroes %}
                            <a class="col-lg-4 col-sm-6 mb-1" href="{{ url('heroesShow', {slug: hero.slug}) }}">
                                <div class="characters-box">
                                    <div class="character-img-small text-center">
                                        <img src="{{ asset('uploads/'~hero.image) }}" alt="{{ hero.name }}">
                                    </div>
                                    <h4>{{ hero.name }}</h4>
                                    <p class="short-description">
                                        {{ hero.description }}
                                    </p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- List section end -->

{% endblock %}