{% extends 'layout/layout-main.html.twig' %}

{% form_theme form 'form/theme.html.twig' %}

{% block content %}

    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="{{ asset('assets/img/header-bg/1.jpg') }}">
        <div class="container">
            <h2>Send me a Message</h2>
        </div>
    </section>
    <!-- Page top section end -->

    <!-- Blog section -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    {{ form_start(form) }}

                    <div class="row">
                        <div class="col-md-6">
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="widget col-md-6">
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    <div class="widget mt-2">
                        {{ form_widget(form.content) }}
                    </div>
                    <div class="mt-1 text-center">
                        {{ form_widget(form.send) }}
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
    <!-- Blog section end -->

{% endblock %}