{% extends 'layout/layout-main.html.twig' %}

{% form_theme form 'form/theme.html.twig' %}

{% block content %}
    <!-- Hero section -->
    <section class="hero-section">
        <div class="search-form-container">
            <div class="search-form">
                {{ form_start(form) }}

                <div class="sb-widget">
                    <div class="widget">
                        {{ form_widget(form.keyword) }}
                    </div>
                </div>

                <div class="text-center mt-1">
                    {{ form_widget(form.search) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>

        <div class="hero-slider owl-carousel">
            <div class="hero-item set-bg" data-setbg="{{ asset('assets/img/slider/1.jpg') }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <h2>Jump into Battle</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-item set-bg" data-setbg="{{ asset('assets/img/slider/2.jpg') }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <h2>Try Not to Die</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-item set-bg" data-setbg="{{ asset('assets/img/slider/3.jpg') }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <h2>Become a Champion</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->

    <!-- News section -->
    <section class="blog-section spad">
        <div class="container">
            <div class="game-title">
                <h2>Latest News</h2>
            </div>
            <div class="row">

                {% for news in newsList %}

                    <div class="col-lg-4 col-sm-6 mb-1">
                        <div class="characters-box">
                            <a href="{{ url('news-details', {slug: news.slug}) }}">
                                <div class="character-img-small text-center">
                                    <img src="{{ asset('uploads/'~news.image) }}" alt="{{ news.title }}">
                                </div>
                                <div class="post-date">{{ news.date|date('d/m/Y') }}</div>
                            </a>
                            <div class="post-metas">

                                {% for tag in news.tags %}

                                    <div class="post-meta">
                                        <a href="{{ url('newsTag', {name: tag.name}) }}">{{ tag.name }}</a>
                                    </div>

                                {% endfor %}

                            </div>
                            <a href="{{ url('news-details', {slug: news.slug}) }}">
                                <h4>{{ news.title }}</h4>
                                <p class="short-description">
                                    {{ news.content }}
                                </p>
                            </a>
                        </div>
                    </div>

                {% endfor %}

                <div class="col-md-12 text-right">
                    <a href="{{ url('news') }}" class="site-btn">See more</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}