{% extends 'layout/layout-main.html.twig' %}

{% block content %}

    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="{{ asset('assets/img/blog/1.jpg') }}">
        <div class="container">
            <h2>News</h2>
        </div>
    </section>
    <!-- Page top section end -->

    <!-- List section -->
    <section class="characters-boxes-section spad">
        <div class="container">
            <div class="game-title">
                <h2>Latest News</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 sidebar">
                    <div class="sb-widget">
                        <h2 class="sb-title">Categories</h2>
                        <div id="accordion">
                            <div class="accordion-menu">

                                {% for menuElement in menu.children[0].children %}

                                    <a href="{{ menuElement.link }}">{{ menuElement.title }}</a>

                                {% endfor %}

                            </div>
                            <div class="accordion-menu">
                                <a class="accordion-header" data-target="#heroes" data-toggle="collapse">
                                    Heroes
                                </a>
                                <div id="heroes" class="collapse sub-menu" data-parent="#accordion">
                                    <ul class="sb-cata-list">

                                        {% for menuElement in menu.children[1].children %}

                                            <li>
                                                <a href="{{ menuElement.link }}">{{ menuElement.title }}</a>
                                            </li>

                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                            <div class="accordion-menu">
                                <a class="accordion-header" data-target="#weapons" data-toggle="collapse">
                                    Weapons
                                </a>
                                <div id="weapons" class="collapse sub-menu" data-parent="#accordion">
                                    <ul class="sb-cata-list">

                                        {% for menuElement in menu.children[2].children %}

                                            <li>
                                                <a href="{{ menuElement.link }}">{{ menuElement.title }}</a>
                                            </li>

                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if featured %}

                    <div class="col-lg-9 col-sm-4 mb-1">
                        <div class="characters-box">
                            <a href="{{ url('news-details', {slug: featured.slug}) }}">
                                <div class="news-img-small text-center">
                                    <img src="{{ asset('uploads/'~featured.image) }}" alt="{{ featured.title }}">
                                </div>
                                <div class="post-date">{{ featured.date|date('d/m/Y') }}</div>
                            </a>
                            <div class="post-metas">

                                {% for tag in featured.tags %}

                                    <div class="post-meta">
                                        <a href="{{ url('newsTag', {name: tag.name}) }}">{{ tag.name }}</a>
                                    </div>

                                {% endfor %}

                            </div>
                            <a href="{{ url('news-details', {slug: featured.slug}) }}">
                                <h4>{{ featured.title }}</h4>
                                <p class="short-description">
                                    {{ featured.content }}
                                </p>
                            </a>
                        </div>
                    </div>

                {% endif %}

            </div>
            <div class="row">

                {% for news in newsList %}

                    <div class="col-lg-4 col-sm-6 mb-1">
                        <div class="characters-box">
                            <a href="{{ url('news-details', {slug: news.slug}) }}">
                                <div class="character-img-small text-center">
                                    <img src="{{ asset('uploads/'~news.image) }}" alt="{{ news.title }}">
                                </div>
                                <div class="post-date">{{ news.date|date('d/m/Y') }}</div>
                            </a>
                                <div class="post-metas">

                                {% for tag in news.tags %}

                                    <div class="post-meta">
                                        <a href="{{ url('newsTag', {name: tag.name}) }}">{{ tag.name }}</a>
                                    </div>

                                {% endfor %}

                            </div>
                            <a href="{{ url('news-details', {slug: news.slug}) }}">
                                <h4>{{ news.title }}</h4>
                                <p class="short-description">
                                    {{ news.content }}
                                </p>
                            </a>
                        </div>
                    </div>

                {% endfor %}

            </div>

            {% if newsList.totalItemCount > 3 %}

                <div class="row mb50 mt50">

                    {% for i in 1..(newsList.totalItemCount/newsList.itemNumberPerPage) | round(0, 'ceil') %}

                        <a href="{{ url(app.request.get('_route'), {'name': app.request.get('name'), 'page' : i }) }}"
                           class="site-btn site-btn-very-small {{ i == app.request.get('page') ? 'current' : '' }}">{{ i }}</a>

                    {% endfor %}

                </div>

            {% endif %}

        </div>
    </section>
    <!-- List section end -->

{% endblock %}
