{% extends 'layout/layout-main.html.twig' %}

{% form_theme form 'form/theme.html.twig' %}

{% block content %}

    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="{{ asset('assets/img/blog/1.jpg') }}">
        <div class="container">
            <h2>{{ news.title }}</h2>
        </div>
    </section>
    <!-- Page top section end -->

    <!-- Blog section -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="blog-post single-post col-md-12">
                    <div class="news-img-big">
                        <img src="{{ asset('uploads/'~news.image) }}" alt="{{ news.title }}">
                    </div>
                    <div class="post-date">{{ news.date|date('d/m/Y') }}</div>
                    <div class="post-metas">

                        {% for tag in news.tags %}

                            <div class="post-meta">
                                <a href="{{ url('newsTag', {name: tag.name}) }}">{{ tag.name }}</a>
                            </div>

                        {% endfor %}

                    </div>
                    <p>{{ news.content }}</p>
                    <div class="comments">

                        <h5>Leave a comment</h5>

                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div class="col-md-8">
                                {{ form_start(form) }}

                                <div class="widget">
                                    {{ form_widget(form.content) }}
                                </div>

                                <div class="text-center mt-1">
                                    {{ form_widget(form.send) }}
                                </div>

                                {{ form_end(form) }}
                            </div>
                        {% else %}
                            <a class="site-btn" href="{{ path('app_login') }}">Log In</a>
                        {% endif %}

                        <h5 class="mt-1">Comments</h5>
                        <ul class="comments-list">

                            {% for comment in news.comments %}

                                <li>
                                    <img src="{{ asset('uploads/'~comment.UserId.image) }}"
                                         alt="{{ comment.UserId.username }}">
                                    <div class="comment-text">
                                        <h6>{{ comment.UserId.username }}</h6>
                                        <div class="comment-date">{{ comment.date|date('d/m/Y') }}</div>
                                        <p>{{ comment.content }}</p>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="site-btn site-btn-small mt-2" href="{{ path('deleteComment', {'slug': news.slug, 'id': comment.id}) }}">Delete</a>
                                        {% endif %}
                                    </div>
                                </li>

                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog section end -->

{% endblock %}