{% extends 'layout/layout-wiki.html.twig' %}

{% block title %}Weapons{% endblock title %}

{% block presentation %}

    {% if weaponDetails is defined %}

        <!-- Character section 1 -->
        <section class="characters-section character-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="character-info">
                            <h2>{{ weaponDetails.name }}</h2>
                            <h5>{{ weaponDetails.type }}</h5>
                            <p class="pt-1">{{ weaponDetails.description }}</p>
                            <div class="progress-warp">
                                <div class="small-blog-list">
                                    <div class="sb-item weapon">
                                        <div class="sb-text">
                                            <h6>Damage:</h6>
                                            <p>{{ weaponDetails.bodyDamage }} body/{{ weaponDetails.headDamage }} head</p>
                                        </div>
                                    </div>
                                    <div class="sb-item weapon">
                                        <div class="sb-text">
                                            <h6>Rate of Fire:</h6>
                                            <p>{{ weaponDetails.rateOfFire }} Rounds/minute</p>
                                        </div>
                                    </div>
                                    <div class="sb-item weapon">
                                        <div class="sb-text">
                                            <h6>Fire Mode:</h6>
                                            <p>{{ weaponDetails.fireMode }}</p>
                                        </div>
                                    </div>
                                    <div class="sb-item weapon">
                                        <div class="sb-text">
                                            <h6>Ammo Type:</h6>
                                            <img src="{{ asset(weaponDetails.ammoType.image) }}" alt="">
                                            <p>{{ weaponDetails.ammoType.name }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <a href="{{ url('newsTag', {name: weaponDetails.name}) }}" class="site-btn">See Related News</a>
                        </div>
                    </div>
                    <div class="col-lg-5 text-center">
                        <img class="rotate" src="{{ asset('uploads/'~weaponDetails.image) }}" alt="{{ weaponDetails.name }}">
                    </div>
                </div>
            </div>
        </section>
        <!-- Character section 1 end -->

    {% endif %}

{% endblock %}

{% block list %}

    <!-- List section -->
    <section class="characters-boxes-section spad">
        <div class="container">
            <div class="game-title">
                <h2>The Weapons</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 sidebar">
                    <div class="sb-widget">
                        <h2 class="sb-title">Categories</h2>
                        <ul class="sb-cata-list checklist">

                            {% for menuElement in menu.children %}

                                <li>
                                    <a href="{{ menuElement.link }}">{{ menuElement.title }}</a>
                                </li>

                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        {% for weapon in weapons %}
                            <a class="col-lg-4 col-sm-6 mb-1" href="{{ url('showWeapon', {slug: weapon.slug}) }}">
                                <div class="characters-box">
                                    <div class="weapon-img-small text-center">
                                        <img src="{{ asset('uploads/'~weapon.image) }}" alt="{{ weapon.name }}">
                                    </div>
                                    <h4>{{ weapon.name }}</h4>
                                    <p class="short-description">
                                        {{ weapon.description }}
                                    </p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- List section end -->

{% endblock %}