{% extends 'base.html.twig' %}

{% block body %}
    <!-- Header section -->
    <header class="header-section">
        <a href="{{ url('home') }}" class="site-logo">
            <img src="{{ asset('assets/img/logo.png') }}" alt="logo">
        </a>
        <ul class="main-menu">
            <li><a class="line" href="{{ url('home') }}">Home</a></li>
            <li><a class="line" href="{{ url('news') }}">News</a></li>
            <li><a class="line" href="{{ url('characters') }}">Characters</a></li>
            <li><a class="line" href="{{ url('weapons') }}">Weapons</a></li>
            <li><a class="line" href="{{ url('contact') }}">Contact</a></li>
        </ul>
        <a class="profile-link" href="{{ url('profile-edit') }}"><img src="{{ asset('assets/img/author-thumbs/2.jpg') }}" alt=""></a>
    </header>
    <!-- Header section end -->

    {% block content %}
    {% endblock %}
    <div class="footer-section">
        <div class="container">
            <div class="copyright">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}